.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.5rem;
    max-width: 400px;
    min-width: 300px;
}
table {
    border-spacing: 0;
  }
th, td {
    padding: 0.5rem;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

form {
    margin-top: 0.5rem;
}